<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1 class="d-flex justify-content-center">Welcome to Sample Admin page!</h1>
        <hr />
        <a href="{{ path('group_list') }}">Groups</a> | <a href="{{ path('user_list') }}">Users</a>
        <hr />
        {% block content %}
        <table class="table table-striped">
            <thead class="thead-default">
                <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Edit</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="{{ path('show_user', {'id': user.id}) }}">{{ user.name }}</a></td>
                        <td><a href="{{ path('show_group', {'id': user.group.id}) }}">{{ user.group }}</a></td>
                        <td><a href="{{ path('edit_user', {'id': user.id}) }}">Edit</a></td>
                        <td><a href="{{ path('delete_user', {'id': user.id}) }}">Delete</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td></td>
                        <td class="d-flex justify-content-center text-danger">No user found. Add one</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr />
        <a href="{{ path('user_add') }}" class="btn btn-primary">Add a user</a>
        {% endblock %}
    </div>
   </body>
</html>