{# app/Resources/views/admin/index.html.twig #}
{% extends 'admin/index.html.twig' %}

{% block content %}
<table class="table table-striped">
    <thead class="thead-default">
        <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
            <tr>
                <td><a class="show_group" href="{{ path('show_group', {'id': group.id}) }}">{{ group.name }}</a></td>
                <td><a href="{{ path('edit_group', {'id': group.id}) }}">Edit</a></td>
                <td>
                    <form  action="{{ path('delete_group', {'id': group.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete the group?')">
                        <input type="hidden" value={{group.id}}>
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td></td>
                <td class="d-flex justify-content-center text-danger">No group found. Add one</td>
                <td></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr />
<a href="{{ path('group_add') }}" class="btn btn-primary">Add a group</a>
{% endblock %}