{# app/Resources/views/admin/index.html.twig #}
{% extends 'admin/index.html.twig' %}

{% block content %}
<div>Clicking on the user's name below, add the user to <strong>{{ group.name }}</strong> group</div>
<br />
<table class="table table-striped">
    <thead class="thead-default">
        <tr>
        <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('add_user_to_group', {'group_id': group.id, 'user_id': user.id}) }}">Add {{ user.name }} to {{ group.name }} group</a></td>
            </tr>
        {% else %}
            <tr>
                <td class="d-flex justify-content-center text-danger">No user found without a group. Maybe  <a href="{{ path('user_add') }}">adding a user</a>  is a good idea?</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<hr />
{% endblock %}